textbook/*
assignments/python_programming/python-socket-programming-assignments.zip
assignments/python_programming/Programming_Assignments/*
assignments/wireshark-traces.zip
assignments/wireshark-traces/*